/*
Reset margins
*/
body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
}

html {
    background-color: rgb(200,200,200);
}

/*
Header
*/
header {
    text-align: center;
    background-color: palevioletred;
}

header h1 {
    margin: 0;
    padding: 1em 0;
    font-family: sans-serif;
}

section.page-title {
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
}

.page-title h2 {
    font-size: 2.5em;
    font-family: serif;
}

/*
Navigation
*/
nav {
    background-color: orange;
}

nav ul {
    text-align: center;
    padding: 10px 0px;
    transition: all 0.2s;
}

nav li {
    list-style: none;
    display: inline-block;
    background-color: lightblue;
    border: 1px solid black;
    transition: background-color 0.2s;
}

nav li:hover {
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    nav li {
        display: block;
        margin: 0 10px;
    }

    nav ul {
        display: none;
    }

    nav ul.show-menu {
        display: block;
    }
}

.menu-btn {
    padding: 8px 8px;
    margin: 0 10px;
    text-align: right;
}

.menu-btn i {
    font-size: 2em;
    color: black;
}

@media screen and (min-width: 599px) {
    .menu-btn {
        display: none;
    }
}

nav a.link {
    display: block;
    padding: 0.5em 20px;
    text-transform: uppercase;
    font-family: 'Comic Sans MS', sans-serif;
    text-decoration: none;
    color: black;
}

/*
Article
*/
main {
    background-color: lightgray;
    padding-bottom: 20px;
}

article {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: lightsteelblue;
}

article p {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.article-title {
    font-size: 1.5em;
}

.article-byline {
    font-size: 0.8em;
    margin-top: 0;
}

.article-author {
    font-weight: bold;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

figure img {
    object-fit: contain;
    width: 80%;
    height: 80%;
}

/*
Footer
*/
footer {
    background-color: rgb(200,200,200);
    padding: 1em 20px;
}

footer p {
    font-size: 12px;
    margin: 0;
}

/*
Contact form
*/

#contact-form input {
    font-size: 16px;
}

#contact-form input[type='text'],
#contact-form input[type='email'],
#contact-form textarea {
    width: 100%;
    margin-bottom: 1em;
}

#contact-form input[type='submit'] {
    padding: 6px 20px;
    border-radius: 20px;
}

#contact-form input[type='submit']:hover {
    background-color: orange;
    cursor: pointer;
}